<!-- Copyright (c) 2014 Juniper Networks, Inc. All rights reserved. -->

<menu>
    <items>
        <item>
            <label>Monitor</label>
            <name>monitor</name>
            <iconClass>icon-bar-chart</iconClass>
            <items></items>
        </item>
        <item>
            <name>configure</name>
            <label>Configure</label>
            <iconClass>icon-wrench</iconClass>
            <items></items>
        </item>
        <item>
            <label>Setting</label>
            <name>setting</name>
            <iconClass>icon-cog</iconClass>
            <access>
                <roles>
                    <role>admin</role>
                </roles>
                <orchModels>
                    <model>openstack</model>
                </orchModels>
            </access>
            <items>
                <item>
                    <label>Server Manager</label>
                    <iconClass>icon-cogs</iconClass>
                    <resources>
                        <resource>
                            <rootDir>/common/ui</rootDir>
                            <js>sm.app.js</js>
                            <js>handlebars.helpers.js</js>
                        </resource>
                    </resources>
                    <items>
                        <item>
                            <hash>setting_sm_clusters</hash>
                            <label>Clusters</label>
                            <resources>
                                <resource>
                                    <rootDir>/setting/sm/ui</rootDir>
                                    <js>sm.main.js</js>
                                    <view>sm.view</view>
                                    <class>clustersPageLoader</class>
                                </resource>
                            </resources>
                        </item>
                        <item>
                            <hash>setting_sm_servers</hash>
                            <label>Servers</label>
                            <resources>
                                <resource>
                                    <rootDir>/setting/sm/ui</rootDir>
                                    <js>sm.main.js</js>
                                    <view>sm.view</view>
                                    <class>serversPageLoader</class>
                                </resource>
                            </resources>
                        </item>
                        <item>
                            <hash>setting_sm_images</hash>
                            <label>Images</label>
                            <resources>
                                <resource>
                                    <rootDir>/setting/sm/ui</rootDir>
                                    <js>sm.main.js</js>
                                    <view>sm.view</view>
                                    <class>imagesPageLoader</class>
                                </resource>
                            </resources>
                        </item>
                        <item>
                            <hash>setting_sm_packages</hash>
                            <label>Packages</label>
                            <resources>
                                <resource>
                                    <rootDir>/setting/sm/ui</rootDir>
                                    <js>sm.main.js</js>
                                    <view>sm.view</view>
                                    <class>packagesPageLoader</class>
                                </resource>
                            </resources>
                        </item>
                    </items>
                </item>
            </items>
        </item>
        <item>
            <label>Query</label>
            <name>query</name>
            <iconClass>icon-search</iconClass>
            <items></items>
        </item>
    </items>
</menu>
