<!-- Copyright (c) 2014 Juniper Networks, Inc. All rights reserved. -->

<menu>
    <items>
        <item>
            <label>Monitor</label>
            <name>monitor</name>
            <iconClass>icon-bar-chart</iconClass>
            <items></items>
        </item>
        <item>
            <name>configure</name>
            <label>Configure</label>
            <iconClass>icon-wrench</iconClass>
            <items>
                <item>
                    <label>Physical Devices</label>
                    <hash>config_pd</hash>
                    <resources>
                        <resource>
                            <rootDir>/common/ui</rootDir>
                            <js>handlebars.helpers.js</js>
                        </resource>
                    </resources>
                    <access>
                        <roles>
                            <role>member</role>
                        </roles>
                        <orchModels>
                            <model>openstack</model>
                        </orchModels>
                    </access>
                    <iconClass>icon-globe</iconClass>
                    <items>
                        <item>
                            <label>Baremetal Servers</label>
                            <hash>config_pd_baremetal</hash>
                            <resources>
                                <resource>
                                    <rootDir>/config/physicaldevices/baremetal/ui</rootDir>
                                    <js>baremetal.main.js</js>
                                    <view>baremetal.view</view>
                                    <class>baremetalPageLoader</class>
                                </resource>
                                <resource>
                                    <rootDir>/setting/sm/ui</rootDir>
                                    <template>sm.tmpl</template>
                                </resource>
                            </resources>
                        </item>
                    </items>
                </item>
            </items>
        </item>
        <item>
            <label>Setting</label>
            <name>setting</name>
            <iconClass>icon-cog</iconClass>
            <access>
                <roles>
                    <role>admin</role>
                </roles>
                <orchModels>
                    <model>openstack</model>
                </orchModels>
            </access>
            <items>
                <item>
                    <label>Server Manager</label>
                    <iconClass>icon-cogs</iconClass>
                    <resources>
                        <resource>
                            <rootDir>/common/ui</rootDir>
                            <js>handlebars.helpers.js</js>
                            <class>smPageLoader</class>
                        </resource>
                        <resource>
                            <rootDir>/setting/sm/ui</rootDir>
                            <template>sm.tmpl</template>
                            <class>smPageLoader</class>
                        </resource>
                    </resources>
                    <items>
                        <item>
                            <hash>setting_sm_clusters</hash>
                            <label>Clusters</label>
                            <resources>
                                <resource>
                                    <rootDir>/setting/sm/ui</rootDir>
                                    <js>sm.main.js</js>
                                    <class>smPageLoader</class>
                                    <function>renderClusters</function>
                                </resource>
                            </resources>
                        </item>
                        <item>
                            <hash>setting_sm_servers</hash>
                            <label>Servers</label>
                            <resources>
                                <resource>
                                    <rootDir>/setting/sm/ui</rootDir>
                                    <js>sm.main.js</js>
                                    <class>smPageLoader</class>
                                    <function>renderServers</function>
                                </resource>
                            </resources>
                        </item>
                        <item>
                            <hash>setting_sm_images</hash>
                            <label>OS Images</label>
                            <resources>
                                <resource>
                                    <rootDir>/setting/sm/ui</rootDir>
                                    <js>sm.main.js</js>
                                    <class>smPageLoader</class>
                                    <function>renderImages</function>
                                </resource>
                            </resources>
                        </item>
                        <item>
                            <hash>setting_sm_packages</hash>
                            <label>Packages</label>
                            <resources>
                                <resource>
                                    <rootDir>/setting/sm/ui</rootDir>
                                    <js>sm.main.js</js>
                                    <class>smPageLoader</class>
                                    <function>renderPackages</function>
                                </resource>
                            </resources>
                        </item>
                    </items>
                </item>
            </items>
        </item>
        <item>
            <label>Query</label>
            <name>query</name>
            <iconClass>icon-search</iconClass>
            <items></items>
        </item>
    </items>
</menu>
